---
layout: default
title: "Anshul Samar"
---
<div class="introduction">
  
<p>July 2019: Performed an original piece at Mausaki Cafe Series w/ Kaustubh Deshpande. Check out draft recording <a href="https://soundcloud.com/anshulsamar/khaali-khyaal-draft">here</a> </p>

<p>March 2019: Performed with Naatak Theater Company! Thanks to all
  who came out to support. </p>

  <p>September 2018: Joined Cerebras Systems in September
  as a Member of Technical Staff. Graduated with my undergrad
  in Mathematics and master's in Computer
  Science from Stanford University. </p>

<p> May 2018: SustainLab's Tile2Vec
  <a href="https://nealjean.com/papers/tile2vec.pdf"> paper </a> accepted
  to AAAI Conference on Artificial Intelligence (AAAI), 2019.
  I joined this project Spring quarter 2017-18 and worked
  on using satellite imagery to predict poverty in Uganda. See my tutorial
  on getting started with Tile2Vec and remote sensing below. </p>



<hr>
Projects and Technical Writings
<br>
<br>
{% assign sorted = (site.projects | sort: 'date') | reverse %}
  {% for item in sorted %}
  <p style="text-align:left;">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
      <span style="float:right;">
        {{ item.mydate }}
      </span>
  </p>
  {% endfor %}

<br>
Poetry and Prose
<br>
<br>
{% assign sorted = (site.pp | sort: 'date') | reverse %}
{% for item in sorted %}
  <p style="text-align:left;">
     <a href="{{ site.baseurl }}{{ item.url }}">
       {{ item.title }}
     </a>
     <span style="float:right;">
       {{ item.mydate }}
     </span>
  </p>
  {% endfor %}
  
<br>
Musings
<br>
<br>
{% assign sorted = (site.texts | sort: 'date') | reverse %}
{% for item in sorted %}
  <p style="text-align:left;">
     <a href="{{ site.baseurl }}{{ item.url }}">
       {{ item.title }}
     </a>
     <span style="float:right;">
       {{ item.mydate }}
     </span>
  </p>
  {% endfor %}
  



