---
layout: default
title: "Anshul Samar"
---
<div class="introduction">

  <p>April 2023: 3 year anniversary of Meditation Mondays which has now grown to a community of students, alumni, and community members across the country. See my <a href="https://anshulsamar.github.io/texts/medmondays/">post</a> on wellness/mental health events we have been organizing at Stanford. Hope you all can join! Mailing list <a href="https://tinyurl.com/stanfordmeditates">here</a>.</p>
  

<hr>

Musings
<br>
<br>
{% assign sorted = (site.texts | sort: 'date') | reverse %}
{% for item in sorted %}
  <p style="text-align:left;">
     <a href="{{ site.baseurl }}{{ item.url }}">
       {{ item.title }}
     </a>
     <span style="float:right;">
       {{ item.mydate }}
     </span>
  </p>
  {% endfor %}
  <br>


Poetry and Prose
<br>
<br>
{% assign sorted = (site.pp | sort: 'date') | reverse %}
{% for item in sorted %}
  <p style="text-align:left;">
     <a href="{{ site.baseurl }}{{ item.url }}">
       {{ item.title }}
     </a>
     <span style="float:right;">
       {{ item.mydate }}
     </span>
  </p>
  {% endfor %}
  
<br>  
  
Projects and Technical Writings
<br>
<br>
{% assign sorted = (site.projects | sort: 'date') | reverse %}
  {% for item in sorted %}
  <p style="text-align:left;">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
      <span style="float:right;">
        {{ item.mydate }}
      </span>
  </p>
  {% endfor %}
  

