---
layout: default
title: "Anshul Samar"
---
<div class="introduction">
  
  <p>Aug 2020: Beginning rehearsals for upcoming original sketch comedy production! Please reach out if interested in cast/crew roles.</p>
   
  <p>Nov 2020: My <a href="https://anshulsamar.github.io/texts/medmondays/">post</a> on wellness/mental health events we have been organizing at Stanford. Hope to see some of you at our weekly Meditation Monday. Mailing list <a href="https://tinyurl.com/stanfordmeditates">here</a>.</p>
   
    
  <p>Jan 2020: Performed at You & Me play reading hosted by CaLAA (California Arts Association) and directed by Richa Wadekar. Thanks for the great experience!</p>
  
<p>March 2019: Performed with Naatak Theater Company! Thanks to all
  who came out to support. Reflection linked below.</p>

  <p>September 2018: Joined Cerebras Systems in September
  as a Member of Technical Staff. Graduated with my undergrad
  in Mathematics and master's in Computer
  Science from Stanford University. </p>


<hr>

Projects and Technical Writings
<br>
<br>
{% assign sorted = (site.projects | sort: 'date') | reverse %}
  {% for item in sorted %}
  <p style="text-align:left;">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
      <span style="float:right;">
        {{ item.mydate }}
      </span>
  </p>
  {% endfor %}
  
<br>
  
Musings
<br>
<br>
{% assign sorted = (site.texts | sort: 'date') | reverse %}
{% for item in sorted %}
  <p style="text-align:left;">
     <a href="{{ site.baseurl }}{{ item.url }}">
       {{ item.title }}
     </a>
     <span style="float:right;">
       {{ item.mydate }}
     </span>
  </p>
  {% endfor %}
  <br>


Poetry and Prose
<br>
<br>
{% assign sorted = (site.pp | sort: 'date') | reverse %}
{% for item in sorted %}
  <p style="text-align:left;">
     <a href="{{ site.baseurl }}{{ item.url }}">
       {{ item.title }}
     </a>
     <span style="float:right;">
       {{ item.mydate }}
     </span>
  </p>
  {% endfor %}
  
<br>  
  



