<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-{{site.color-scheme}}">

    <!-- This if statement decides which sidebar to use -->
    {% if page.toc %}
    {% include sidebar-toc.html %}
    {% else %}
    {% include sidebar.html %}
    {% endif %}


    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
        js.src =
      'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0';
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title | newline_to_br }}</a>
            <br><small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content" id="main">
        {{ content }}
        
      </div>
    </div>

<footer>
<p style="text-align: center;">  <small> based on
   <a href="https://minicomp.github.io/ed/about/">ed</a> </small> <br><small>&copy;
   2019 Anshul Samar<small></footer>

<div class="icons" style="text-align:center;">
  <a href="https://www.instagram.com/anshulsamar/">
    <img src="{{site.url}}{{site.baseurl}}/assets/instagram.png"
         style="display: inline-block; margin-left: auto;
                margin-right: auto; height: 15px;">
  </a>
  <a href="https://twitter.com/AnshulSamar">
    <img src="{{site.url}}{{site.baseurl}}/assets/twitter.png"
         style="display: inline-block; margin-left: auto; margin-right: auto; height: 15px">
  </a>
  <a href="https://github.com/anshulsamar">
    <img src="{{site.url}}{{site.baseurl}}/assets/github.png"
         style="display: inline-block; margin-left: auto; margin-right: auto; height: 15px">
  </a>
</div>

</body>
</html>
